<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Class%20Notes/Lecture/Sep12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=4
y=5
if x < y:
  print(x, 'is smaller than', y)
elif x > y:
  print(x, 'is greater than', y)
else:
  print(x, 'is equal to', y)

4 is smaller than 5

In [22]:
# Lambda Equivalent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

result(6, 5)

'6 is greater than 5'

In [7]:
percentage=98
if (percentage >= 78):
  print('pass with first class distinction')
elif (percentage >= 60):
  print('pass with first class')
elif (percentage >= 40):
  print('pass with second class')
elif (percentage >= 33):
  print('pass with third class')
else:
  print('better luck next time')

pass with first class distinction

In [20]:
result = lambda x: f"Marks : {x}. Pass with first class distinction" if x >= 78 else \
                  (f"Marks : {x}. Pass with first class" if x >= 60 else \
                  (f"Marks : {x}. pass with second class" if x >= 40 else \
                  (f"Marks : {x}. pass with third class" if x >= 33 else \
                  (f"Marks : {x}. better luck next time"))))


marks = int(input("Enter marks you obtained : "))

result(marks)

Enter marks you obtained : 44

'Marks : 44. pass with second class'

In [41]:
a=[]
def sum_num(*args):
  sum=0
  for x in a:
    sum=sum+x

  print('The sum is :', sum)

rng =int(input('Enter number for sum :'))
for i in range(1,rng):
  a.append(i)
sum_num(a)

Enter number for sum :1000
The sum is : 499500

In [43]:
result = lambda percentage: f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                            f"{percentage} pass with first class" if percentage >= 60  else (\
                            f"{percentage} pass with second class" if percentage >= 40  else (\
                            f"{percentage} pass with third class" if percentage >= 33  else (\
                            f"{percentage} better luck next time"))))

In [44]:
result(79), result(69), result(59), result(49), result(39), result(29), result(19), result(9), result(89), result(99)

('79 pass with first class distinction',
 '69 pass with first class',
 '59 pass with second class',
 '49 pass with second class',
 '39 pass with third class',
 '29 better luck next time',
 '19 better luck next time',
 '9 better luck next time',
 '89 pass with first class distinction',
 '99 pass with first class distinction')

In [46]:
def fin(*args, a, b, c, d, e):
  return a+b+c+(sum(args))
fin(12,23,34,45,56,67,78,89,90)

TypeError: ignored

In [47]:
def func_sum(*args): # *args (Non-Keyword Arguments)
  return args

func_sum(12,23,34,45,56,67,78,89,90,101)

(12, 23, 34, 45, 56, 67, 78, 89, 90, 101)

In [48]:
func_sum([12,23,34],(45,56,67),78,89,90,101)

([12, 23, 34], (45, 56, 67), 78, 89, 90, 101)

In [49]:
func_sum({'a':12,'b':23,'c':34,'d':45,'e':56},67,78,89,90,101)

({'a': 12, 'b': 23, 'c': 34, 'd': 45, 'e': 56}, 67, 78, 89, 90, 101)

In [50]:
def func_sum(**kwargs):
  return kwargs
func_sum(fname='Anurag', mname='Arun', lname = 'Edlabadkar')

{'fname': 'Anurag', 'mname': 'Arun', 'lname': 'Edlabadkar'}

In [55]:
def res(**kwargs):
  for key, value in kwargs.items():
    print('{} is {}'.format(key, value))
res(FirstName='Bashant', LastName='Jung')

FirstName is Bashant
LastName is Jung

In [58]:

def res(*args, **kwargs):
    for key, value in kwargs.items():
      print('{} is {}'.format(key, value))
    sum=0
    for s in args:
      sum=sum+s
    print(sum)

res(1,2 , 3, 4, 4, FirstName='Bashant', LastName='Jung')

FirstName is Bashant
LastName is Jung
14