<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Class%20Notes/Built_in_Set_Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# set() constructor: Creates a new set.
x = set([1, 2, 3])
print('x is :',x)
y = set((4, 5, 6, 7))
print('y is :',y)

x is : {1, 2, 3}
y is : {4, 5, 6, 7}

In [ ]:
# add(element) method: Adds an element to the set.
# If an element is already exist in the set, then it does not add that element.

a = {1, 2, 3, 4, 5}
a.add(77)
print('After adding 77 :', a)
a.add(5)
print('After adding 5 :', a)  #NO change. Set do not allow duplicate

After adding 77 : {1, 2, 3, 4, 5, 77}
After adding 5 : {1, 2, 3, 4, 5, 77}

In [ ]:
# clear() method: Removes all elements from the set, leaving an empty set.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [ ]:
# copy() method: Creates a shallow copy of the set.

a = {1, 2, 3, 4, 5}
b = a.copy()
print(b)

{1, 2, 3, 4, 5}

In [ ]:
# difference(other_set) method or - operator: Returns a new set containing elements that are in the first set but not in the second set.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}
print('Unique value of set1', set1.difference(set2))
print('Unique value of set2', set2.difference(set1))
print('\n')
set3 = set1.difference(set2)
set4 = set2.difference(set1)
print('Difference(set2) :', set3)
print('Difference(set1) :', set4)

Unique value of set1 {'apple', 1, 2, 3}
Unique value of set2 {6}


Difference(set2) : {'apple', 1, 2, 3}
Difference(set1) : {6}

In [ ]:
# Updates the set on which the method is called with the elements that are common in another set passed as an argument.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}

set2.difference_update(set1)

print('Set2 is :', set2)

Set2 is : {6}

In [ ]:
set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}

set1.difference_update(set2)
print(set1)

{1, 2, 3, 'apple'}

In [ ]:
# discard(element) method: Removes an element from the set if it is present, but does nothing if the element is not found.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}

set1.remove(5)
print(set1)

{1, 2, 3, 4, 'orange', 'apple', 'banana'}

In [ ]:
# intersection(other_set): Returns a new set containing elements that are common to both sets.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}

print('The interaction of set1 and set2', set1.intersection(set2))
print('The interaction of set2 and set1', set2.intersection(set1))

The interaction of set1 and set2 {'banana', 'orange', 4, 5}
The interaction of set2 and set1 {'banana', 'orange', 4, 5}

In [ ]:
# isdisjoint() : Returns true if the given sets have no common elements. Sets are disjoint if and only if their intersection is the empty set.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}

print('Disjoint of set1 and set2 : ', set1.isdisjoint(set2))
print('Disjoint of set1 and set2 : ', set2.isdisjoint(set1))

Disjoint of set1 and set2 :  False
Disjoint of set1 and set2 :  False

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

print('Disjoint of set1 and set2 : ', set1.isdisjoint(set2))

Disjoint of set1 and set2 :  True

In [ ]:
# issubset(other_set) method: Returns True if the set is a subset of the other set, otherwise False.

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

print('Is subset :', set1.issubset(set2))

Is subset : False

In [ ]:
set1 = {7, 8, 9}
set2 = {6, 7, 8, 9, 10}
print('Set2 is subset of set1  :', set2.issubset(set1))
print('Set1 is subset of set2  :', set1.issubset(set2))

Set2 is subset of set1  : False
Set1 is subset of set2  : True

In [ ]:
# pop() method: Removes and returns a random element from the set.  Raises a KeyError if the set is empty.

set1 = {1, 2, 4, 5, 7, 8, 9}
set1.pop()

print('Removes random number from set', set1)

Removes random number from set {2, 4, 5, 7, 8, 9}

In [ ]:
# remove(element): 	Removes the specified element from the set. If the specified element not found, raise an error.

set1 = {1, 2, 4, 5, 7, 8, 9}
set1.remove(5)

print('After removing 5 :', set1)

After removing 5 : {1, 2, 4, 7, 8, 9}

In [ ]:
# symmetric_difference(other_set): Returns a new set containing elements that are in either of the sets, but not in both.
# Returns a new set with the distinct elements found in both the sets.

set1 = {1, 2, 3, 4, 5, 'apple', 'banana', 'orange'}
set2 = {4, 5, 6, 'banana', 'orange'}

set1.symmetric_difference(set2)

{1, 2, 3, 6, 'apple'}

In [ ]:
# symmetric_difference_update() :  method modifies the set in place and does not return a new set.
# Updates the set on which the instersection_update() method called, with the elements that are common among the specified sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 5, 6}

In [ ]:
# union(other_set) : Returns a new set containing all elements from both sets (removing duplicates).

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print('Union', set1.union(set2))

Union {1, 2, 3, 4, 5, 6}

In [ ]:
# len(set) : Returns the number of elements in the set.

set1 = {1, 2, 3, 4}
print(len(set1))

4

In [ ]:
# issuperset(other_set) : Returns True if the set is a superset of the other set, otherwise False.

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3, 4, 5, 6}

print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
True