<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Assignments/For_Loop_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.

a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
b= []
for i in a:
  if a.count(i)==1:
    b.append(i)

print(b)

[3, 4, 5, 11, 6, 8]

In [ ]:
#Question 2) Print all prime numbers below 100
l1 = []
for i in range(2, 101):
  for j in range(2, i):
    if i%j==0:
      break
  else:
    l1.append(i)

print('Prime Numbers below 100 are :' ,l1)

Prime Numbers below 100 are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
#Question 3) print list in reverse order using for loop
a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]

for x in a[::-1]:
    print(x)

8
1
6
2
1
11
5
4
3
2
1

In [ ]:
#Question 4)  print multiplication table of 13 using for loop
for i in range(1,11):
  print('13', ' ', '* ',  i, ' =  ', 13*i)

13   *  1  =   13
13   *  2  =   26
13   *  3  =   39
13   *  4  =   52
13   *  5  =   65
13   *  6  =   78
13   *  7  =   91
13   *  8  =   104
13   *  9  =   117
13   *  10  =   130

In [ ]:
#Example 5: Python program to count the total number of digits in a number.

x = input('Enter a number :')
a=0
for i in range(len(x)):
    a=a+1
print(a)

Enter a number :123
3

In [ ]:
#Question 6) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.#int

x = int(input('Enter a number : '))
y = int(input('Enter a number : '))
z = min(x, y)

for i in range(2, z+1):
  if (x % i == 0) and (y % i == 0):
     a =i

print(f'The \'HCF\' of {x} and {y} is', a)

Enter a number : 8
Enter a number : 4
The 'HCF' of 8 and 4 is 4

In [ ]:
# Question 7 ) Write a program in Python to display the Factorial of a number.

x = int(input('Enter a number : '))
a=1
for i in range(1, x+1):
  a = i * a
print('The factorial of the number is', a)

Enter a number : 0
The factorial of the number is 1

In [ ]:
# WAP to separate positive and negative number from a list.

a = [1, 2, 3, 4, 5, -6, -7, -2,-8, -9 ]
positive = []
negative = []

for i in range(len(a)):
  if a[i] >= 1:
    positive.append(a[i])

  else:
    negative.append(a[i])

print('The positive numbers in List are : ', positive)
print('The negative numbers in List are : ', negative)

The positive numbers in List are :  [1, 2, 3, 4, 5]
The negative numbers in List are :  [-6, -7, -2, -8, -9]

In [ ]:
# 3) display fibonnaci series upto 10 terms
a=[0, 1]
x = int(input('Enter the terms of fibonnaci series :'))

for i in range(2,x):
  c = a[i-1] + a[i-2]
  a.append(c)

print(a)

Enter the terms of fibonnaci series :10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 1) Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

a = []

for i in range(1500, 2701):
  if i % 7 == 0 and i % 5 ==0:
    a.append(i)

print('Number divisible by 7 and multiple of 5 are :', a)

Number divisible by 7 and multiple of 5 are : [1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
# Write a Python program to count the number of even and odd numbers in a series of numbers
# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

x = int(input('Enter the range to find odd and even number :'))
a = []
even = []
odd = []

for i in range(1, x+1):
  a.append(i)

for y in a:
  if y % 2 == 0:
    even.append(y)

  else:
    odd.append(y)

print('The odd numbers are :', odd)
print('The even numbers are', even)

Enter the range to find odd and even number :25
The odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
The even numbers are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

# Expected Output : 0 1 2 4 5

a = []
i=0
while i < 6:

  if i ==3 or i==6:
    pass

  else:
    print(i)

  i+=1

0
1
2
4
5

In [3]:
# Count the total number of digits in a number

x = int(input('Enter number : '))
count = 0
while x !=0:
  x = x // 10
  count+=1

print('Total Digits :', count)

Enter number : 123
Total Digits : 3