<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Assignments/Loop_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Swap two numbers using 3rd variable
num1 = int(input('Enter first number :'))
num2 = int(input('Enter second number :'))
print('\n')
print('Before Swap \n')
print('num1 is :', num1)
print('num2 is :', num2)
print('\n')
temp = num1
num1 = num2
num2 = temp
print('After Swap \n')
print('num1 is :', num1)
print('num2 is :', num2)

Enter first number :22
Enter second number :33


Before Swap

num1 is : 22
num2 is : 33


After Swap

num1 is : 33
num2 is : 22

In [ ]:
# 2) Swap two numbers without using 3rd variable

num1 = int(input('Enter first number :'))
num2 = int(input('Enter second number :'))
print('\n')
print('Before Swap \n')
print('num1 is :', num1)
print('num2 is :', num2)
print('\n')

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print('After Swap \n')
print('num1 is :', num1)
print('num2 is :', num2)

Enter first number :22
Enter second number :33


Before Swap

num1 is : 22
num2 is : 33


After Swap

num1 is : 33
num2 is : 22

In [ ]:
# 3) Remove duplicate elements from a list without converting to tuple
lst1 = [1, 2, 3, 4, 5,  1, 2, 3, 4, 5, 6, 7, 8]
print('Original elements :', lst1)
lst2 =[]
for i in lst1:
  if i not in lst2:
    lst2.append(i)

print('After removing duplicate elements in the list :', lst2)

Original elements : [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8]
After removing duplicate elements in the list : [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
x = int(input('Enter second number :'))
y = int(input('Enter second number :'))

small = min(x, y)

for i in range (1, small+1):
  if (x % i==0) and (y % i ==0):
    hcf = i
print('The highest common factor is ', hcf)

Enter second number :54
Enter second number :44
The highest common factor is  2

In [ ]:
# 4) Write a loop to print following series
# 10, 20, 30,  …………………, 300

for i in range(0, 301, 10):
  print(i, end =', ')

0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300,

In [ ]:
# 5) Write a loop to print following series
# 105,98,91,………………………,7
for i in range(105, 6, -7):
  print(i, end=', ')

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

In [ ]:
# 6) Write a program to print number names of digits in a number like
# SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

x = input('Enter a number : ')
digit_names = {
    '0': 'ZERO',
    '1': 'ONE',
    '2': 'TWO',
    '3': 'THREE',
    '4': 'FOUR',
    '5': 'FIVE',
    '6': 'SIX',
    '7': 'SEVEN',
    '8': 'EIGHT',
    '9': 'NINE'
}

for i in x:
   name = digit_names.get(i, '')
   print(name, end=' ')

Enter a number : 333
THREE THREE THREE

In [ ]:
# 7) Write a program to print Fibonacci series till n terms take n =50

def fibonaci(num):
  a=0
  b=1
  if num <=0:
    print('Invalid Input !! Try with positive number !!')

  elif num == 1:
    print("Fibonacci Series up to 1 term:", num)

  else:
     print(f"Fibonacci Series up to {num} term:")
     print(a, end =' ')
     print(b, end =' ')
     for i in range (2,num):
      c= a + b
      print(c, end=' ')
      a=b
      b=c

fibonaci(50)

Fibonacci Series up to 50 term:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [ ]:
# 8) Write a program to print factorial of a number
x = int(input('Enter a number :'))
print(f'The factorial of number {x} is :\n')
if x < 0:
  print("Factorial is not defined for negative numbers.")
elif x == 0:
      print(f'The factorial of {x} is, ', x)
else:
  for i in range(1,x+1):
    if x % i ==0 and i <x:
      print(i, end= ' X ')
    elif x % i ==0 and i ==x:
      print(i)

Enter a number :22
The factorial of number 22 is :

1 X 2 X 11 X 22

In [ ]:
# 9) Write a program to check if a number is Armstrong or not
x =371
y=str(x)
sum=0
for i in y:
  c = int(i)
  sum += c*c*c
if sum ==x:
  print('Armstrong number')
else:
  print('Not a Armstrong number')

Armstrong number

In [ ]:
# 10) Write a program to convert binary to decimal
x=input('Binary number : ')
dec = x[::-1]
sum=0
for i in range(len(x)):
  if dec[i] == '1':
        sum += 2**i
print(f'The binary value of {x} is : ', sum)

Binary number : 1000
The binary value of 1000 is :  8

In [ ]:
# Write a program to convert decimal to binary

num = int(input("Enter a decimal number: "))
binry = ""
if num == 0:
    binry = "0"
else:
    while num > 0:
        binry = str(num % 2) + binry
        num //= 2

print("Binary representation:", binry)

Enter a decimal number: 8
Binary representation: 1000

In [ ]:
# 12) Write a program to check if number is palindrome on not (Without converting to string)
num = int(input("Enter a decimal number: "))
rev =0
while num > 0:
  digit=num % 10
  rev=rev * 10+digit
  num=num//10

if num == rev:
  print('Palindrime')
else:
   print('NOt Palindrime')

Enter a decimal number: 1232
NOt Palindrime

In [ ]:
# 13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

for i in range(100, 501):
  if i % 13 == 0 and i %3 !=0:
    print(i, end=', ')

104, 130, 143, 169, 182, 208, 221, 247, 260, 286, 299, 325, 338, 364, 377, 403, 416, 442, 455, 481, 494,

In [ ]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
print("Temperature Converter")
print("Celsius to Fahrenheit. Enter 1 : ")
print("Fahrenheit to Celsius. Enter 2 : ")

choice = int(input("Enter your choice (1 or 2): "))

if choice == 1:
    celsius = float(input("Enter temperature in Celsius: "))
    fahr = (celsius * 9/5) + 32
    print(f"{celsius} C is equal to {fahr} F")
elif choice == 2:
    fahr = float(input("Enter temperature in Fahrenheit: "))
    celsius = (fahr - 32) * 5/9
    print(f"{fahr} F is equal to {celsius} C")
else:
    print("Invalid choice. Please choose 1 or 2.")

Temperature Converter
Celsius to Fahrenheit. Enter 1 :
Fahrenheit to Celsius. Enter 2 :
Enter your choice (1 or 2): 1
Enter temperature in Celsius: 32
32.0 C is equal to 89.6 F

In [ ]:
# 15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array.
# The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))
array = []

for i in range(m):
  row = []
  for j in range(n):
    if i * j == 0:
      row.append(0)
    else:
     row.append(i * j)
  array.append(row)


for row in array:
    print(row)

Enter the number of rows (m): 3
Enter the number of columns (n): 2
[0, 0]
[0, 1]
[0, 2]

In [ ]:
#16. Write a Python program that accepts a string and calculates the number of digits and letters.
#Sample Data: Python 3.2
# Expected Output:
# Letters 6
# Digits 2

char = input('Enter a string : ')
letter =0
digit =0
for i in char:
  if i.isalpha():
    letter +=1
  elif i.isnumeric():
    digit+=1
print('Letter : ', letter)
print('Digit : ', digit)

Enter a string : Python 3.2
Letter :  6
Digit :  2

In [ ]:
# 17) Print all possible combination for a string or a word
# Sample input “ABC”
# Sample output
# BAC
# CAB
# CBA
# ACB
# BCA
import itertools

input_string = input("Enter a string: ")

permutations = itertools.permutations(input_string)
for perm in permutations:
  print(''.join(perm))

Enter a string: ABC
ABC
ACB
BAC
BCA
CAB
CBA

In [ ]:
# 18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side

# Note :
# An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.


side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))


if (side1 == side2 == side3):
  print("This is an equilateral triangle.")
elif (side1 == side2) or (side1 == side3) or (side2 == side3):
  print("This is an isosceles triangle.")
else:
  print("This is a scalene triangle.")

Enter the length of side 1: 3
Enter the length of side 2: 4
Enter the length of side 3: 3
This is an isosceles triangle.

In [ ]:
# 19) Write a Python program to get the next day of a given date.
# Expected Output:
# Input a year: 2016
# Input a month [1-12]: 08
# Input a day [1-31]: 23
# The next date is [yyyy-mm-dd] 2016-8-24

yr = int(input('Enter year : '))
mth = int(input('Input a month [1-12] : '))
day = int(input('Input a day [1-31] : '))

if day ==31:
  print(f'The next date is [yyyy-mm-dd] : {yr}-{mth+1}-01'  )
else:
  print(f'The next date is [yyyy-mm-dd] : {yr}-{mth}-{day+1}')

Enter year : 2016
Input a month [1-12] : 8
Input a day [1-31] : 31
The next date is [yyyy-mm-dd] : 2016-9-01