<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Documents%20%26%20Notes/Comprehension_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python supports the following 4 types of comprehension:

    List Comprehensions
    Dictionary Comprehensions
    Set Comprehensions
    Generator Comprehensions

   
   **List Comprehensions**
   
    Syntax: output_list = [output_exp for var in input_list if (var satisfies this condition)]

In [ ]:
#Even number using list comprehension
lst=[]

for i in range(1, 21):
  lst.append(i)

flst = [i for i in lst if i %2==0]
print('Even NUmbers using list comprehension :\n', flst)

Even NUmbers using list comprehension :
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
flst = [i for i in range(1,21) if i %2==0]
print('Even NUmbers using list comprehension :\n', flst)

Even NUmbers using list comprehension :
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Squaring Number using List comprehensions
cal = [i**2 for i in range(1,10)]
print('The square of number using list comprehension:\n', cal)

The square of number using list comprehension:
 [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Find all of the numbers from 1–1000 that are divisible by 8
fnum = [i for i in range(1,1000) if i%8==0]
print('Numbers divisible by 8 :\n', fnum)

Numbers divisible by 8 :
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

In [ ]:
# Find all of the numbers from 1–100 that have a 6 in them
num = [n for n in range(1,100) if '6' in str(n)]
print('Number with 6 :\n', num)

Number with 6 :
 [6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [ ]:
# Count the number of spaces in a string
name = 'My name is Bashant Jung'
str1 = len([i for i in name if i==' '])
print('Total space in string :\n',str1)

Total space in string :
 4

In [ ]:
# Remove all of the vowels in a string
name = 'My name is Bashant Jung'
vowel ='aeiou'
rmv = ''.join([n for n in name if n.lower() not in vowel])
print(rmv)

My nm s Bshnt Jng

In [ ]:
#Find words in string that are less than 5 letter
name = 'My name is Bashant Jung'
word=name.split()
fnam = [i for i in word if len(i) < 5 ]
print(fnam)

['My', 'name', 'is', 'Jung']

In [2]:
#common number in two list
lst1 =[1, 2, 3 , 4, 5, 6, 7]
lst2 =[3, 5, 7, 8, 9, 11]
comon = [i for i in lst1 if i in lst2]
print('Common numbers in two list : \n', comon)

Common numbers in two list :
 [3, 5, 7]

In [8]:
# Get only the numbers in a sentence like ‘In 1984 there were 13 instances of a protest with over 1000 people attending
str1='In 1984 there were 13 instances of a protest with over 1000 people attending'
word = str1.split()
num = [a for a in word if not a.isalpha()]
print('Numbers in String :\n', num)

Numbers in String :
 ['1984', '13', '1000']

In [11]:
# Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even,
# and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’

choice = ['Even' if a%2==0 else 'Odd' for a in range(20)]
print(choice)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [15]:
# Use a nested list comprehension to find all of the numbers from 1-100 that are divisible by any single digit besides 1 (2-9)

num = [i for i in range(1,100) if True in [True for j in range(2,10) if i % j==0]]
print(num)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

**Dictionary Comprehensions**


    output_dict = {key:value for (key, value) in iterable if (key, value satisfy this condition)}

In [24]:
# create a new dictionary where each value will be squared
dict = {
  'a':1,
  'b':2,
  'c':3
}
print('Before square :', dict)
x= {k:v**2 for k,v in dict.items()}
print('After value square :',x)

Before square : {'a': 1, 'b': 2, 'c': 3}
After value square : {'a': 1, 'b': 4, 'c': 9}

In [28]:
# create a new dictionary where each value will be squared, return only even numbers
dict = {'a': 3, 'b': 4, 'c': 5, 'd': 6}
x={k:v for k,v in dict.items() if v%2==0 }
print('Even Values :', x)

Even Values : {'b': 4, 'd': 6}

In [30]:
# Add one year to each age in the dictionary
dict1 = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
x = {k:v+1 for k,v in dict1.items()}
print(x)

{'Alice': 26, 'Bob': 31, 'Charlie': 36}

In [3]:
#  "Pass" if the score is greater than or equal to 60 and "Fail" if the score is less than 60
grades = {"Alice": 75, "Bob": 58, "Charlie": 92, "David": 42}
result = {key:'Pass' if value >60 else 'Fail' for key, value in grades.items()}
print("Student Result :\n",result)

Student Result :
 {'Alice': 'Pass', 'Bob': 'Fail', 'Charlie': 'Pass', 'David': 'Fail'}

In [6]:
# words with a frequency greater than 3
wrd = {"apple": 2, "banana": 5, "cherry": 1, "date": 4, "fig": 2}
res = {key:value for key, value in wrd.items() if value >3}
print('Words with a frequency greater than 3 :\n',res)

Words with a frequency greater than 3 :
 {'banana': 5, 'date': 4}

In [8]:
# list keys and values, with equal lengths. Create a dictionary where the elements from keys are the keys,
# and the elements from values are the values using a dictionary comprehension.
keys = ["a", "b", "c", "d"]
values = [1, 2, 3, 4]
result = {key:value for key,value in zip(keys,values)}
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Set Comprehension**


newSet= { expression for element in  iterable }

In [10]:
# Generate a set of squares of numbers from 1 to 10
res ={i**2 for i in range(1,10)}
print(res)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [12]:
# Create a set of even numbers from 1 to 20
re ={i for i in range(1,20) if i%2==0}
print(re)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [16]:
# Generate a set of characters from a string
str1 = 'Hello World !!'
res1 = {i for i in str1 if i.isalpha()}
print(res1)

{'o', 'r', 'H', 'e', 'l', 'W', 'd'}

In [18]:
# Create a set of lengths of words in a sentence
str2 = 'This is a sample sentence.'
word =str2.split()
res2 ={len(i) for i in word }
print(res2)

{1, 2, 4, 6, 9}

In [28]:
# Generate a set of prime numbers from 1 to 50
result ={i for i in range(2,51) if all(i%j !=0 for j in range(2, i//2 +1))}
print(result)

{2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

In [31]:
# Generate a set of common multiples of 3 and 5 up to 100
cal = {i for i in range(1,100)if i%3==0 if i%5==0}
print(cal)

{75, 45, 15, 90, 60, 30}

In [34]:
# Create a set of words with their characters sorted in descending order
words = ["apple", "banana", "cherry"]
x ={''.join(sorted(word, reverse=True)) for word in words}
print(x)

{'nnbaaa', 'yrrhec', 'pplea'}


**Generator comprehensions**

generator_expression = (expression for element in iterable if condition)

In [36]:
#  Generating squares of numbers from 1 to 5 as a generator:
res = (i**2 for i in range(1,6))
print(res)
for i in res:
  print(i)

<generator object <genexpr> at 0x79aeefe64f90>
1
4
9
16
25

In [38]:
# Generating even numbers from a list of integers:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = (i for i in num if i%2==0)
print(even_num)
for i in even_num:
  print(i)

<generator object <genexpr> at 0x79aeefe65e70>
2
4
6
8
10

In [47]:
# Generating prime numbers from 2 to 20:
cal = (i for i in range(2,21) if all(i%j !=0 for j in range(2, i//2 +1)))
print(cal)

for i in cal:
  print(i)

<generator object <genexpr> at 0x79aeefe64eb0>
2
3
5
7
11
13
17
19

In [50]:
food = (("apple" if i < 3 else "pie") for i in range(6))

for i in food:
  print(i)

apple
apple
apple
pie
pie
pie