<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Documents%20%26%20Notes/Conditional_Statements_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
a = []
for i in range(1500, 2701):
  if i % 7 == 0 and i % 5 == 0:
    a.append(i)
print('The numbers divisible by 5 and 7 : ', a)

The numbers divisible by 5 and 7 :  [1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
# 2. Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
# [ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
# Expected Output :
# 60°C is 140 in Fahrenheit
# 45°F is 7 in Celsius

temp = input('Enter Temperature you want to convert \n e.g. 45F, 60c : ')
a = int(temp[:-1])
b = temp[-1]

if  b.upper() == 'C':
  f = (a * (9/5)) + 32
  print('The temperature in Fahrenheit is : ', int(f))

if b.upper() == 'F':
  c = (a - 32) * (5/9)
  print('The temperature in Celsius is : ', int(c))

Enter Temperature you want to convert
 e.g. 45F, 60c : 45f
The temperature in Celsius is :  7

In [ ]:
# 3. Write a Python program to guess a number between 1 and 9. Note : User is prompted to enter a guess. If the user
# guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a
# "Well guessed!" message, and the program will exit.

import random

guess = int(input('Enter number between 1 and 9 :'))
x = random.randint(1,9)

while x != guess:
  guess = int(input('Enter number between 1 and 9 :'))

print('Well guessed !! ')

Enter number between 1 and 9 :5
Enter number between 1 and 9 :6
Well guessed !!

4. Write a Python program to construct the following pattern, using a nested for loop.

![Screenshot from 2023-08-19 15-44-49.png]()

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*', end = ' ')

  print('\r')

for i in range(4):
  for j in range(4-i):
    print('*', end = ' ')

  print('\r')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# 5. Write a Python program that accepts a word from the user and reverses it.
word = input('Enter a word : ')

rev = word[::-1]

print(rev)

Enter a word : word
drow

In [ ]:
# 6. Write a Python program to count the number of even and odd numbers in a series of numbers
# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd =0
even = 0

for i in numbers:
  if i % 2 ==0:
    even+=1
  else:
    odd+=1

print('Total odd :', odd)
print('Total even :', even)

Total odd : 5
Total even : 4

In [ ]:
# 8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
# Note : Use 'continue' statement.
# Expected Output : 0 1 2 4 5

i= 0
a = []
while i < 6 :
  i+=1
  if i == 3 or i==6:
    continue

  else:
    a.append(i)

print('Output :', a)

Output : [1, 2, 4, 5]

In [ ]:
# 9. Write a Python program to get the Fibonacci series between 0 and 50.
# Note : The Fibonacci Sequence is the series of numbers :
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....
z = []
a = 0
b = 1

while a < 50:
  z.append(a)
  a = b
  b = a+b

print('Fibonacci series between 0 and 50 :', z)

Fibonacci series between 0 and 50 : [0, 1, 2, 4, 8, 16, 32]

In [ ]:
# 10. Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the
# number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".
# Sample Output :
# fizzbuzz
# 1
# 2
# fizz
# 4
# buzz

i = 1

while i <=50:
  if i % 3 ==0:
    if i % 3 == 0 and i% 5 ==0:
      print('FizzBuzz')
    else:
      print('Fizz')

  elif i % 5 == 0:
    if i % 3 == 0 and i% 5 ==0:
      print('FizzBuzz')
    else:
     print('FizzBuzz')

  else:
    print(i)

  i+=1

1
2
Fizz
4
FizzBuzz
Fizz
7
8
Fizz
FizzBuzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
FizzBuzz
Fizz
22
23
Fizz
FizzBuzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
FizzBuzz
Fizz
37
38
Fizz
FizzBuzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
FizzBuzz

In [17]:
# 11. Write a Python program to print the alphabet pattern 'D'.

for i in range(7):
    for j in range(7):
        if j==0 or i==0 or i==6:
          print('*', end ='')

        elif j==6:
          print('*', end =' ')

        else:
          print(' ', end= '')


    print('\r')

*******
*     *
*     *
*     *
*     *
*     *
*******

In [23]:
# 12. Write a Python program to print the alphabet pattern 'E'.
for i in range(10):
  for j in range(10):
    if i==0 or j==0 or i==9 or i==4:
      print('*', end ='')

  print('\r')

**********
*
*
*
**********
*
*
*
*
**********

In [31]:
# 13 Write a Python program to print the alphabet pattern 'L'.

for x in range(10):
  for j in range(10):
    if j == 0 or x==9:
      print('*', end=' ')

  print('\r')

*
*
*
*
*
*
*
*
*
* * * * * * * * * *

In [36]:
# 14. Write a search Python program to print the alphabet pattern 'O'.

for i in range(10):
  for j in range(10):
    if j==0 or i==0 or i==9 or j ==9:
      print('*', end='')

    else:
      print(' ', end='')

  print('\r')

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [47]:
# 15. Write a Python program to print the alphabet pattern 'P'.

for i in range(8):
  for j in range(8):
    if j==0 or i==0 or i==3:
      print('*', end=' ')

    elif (j == 7) and i <=3:
       print('*', end=' ')

    else:
      print(' ', end=' ')

  print('\r')

* * * * * * * *
*             *
*             *
* * * * * * * *
*
*
*
*

In [48]:
# Exercise 16: Print First 10 natural numbers using while loop

i=1

while i <=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [53]:
# 17 Write a program to print the following number pattern using a loop.

# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

for i in range(1,6):
  for j in range(1, i+1):
    print(j, end=' ')

  print('\r')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
# Exercise 18: Calculate the sum of all numbers from 1 to a given number.

x=int(input("Enter a number :"))
sum = 0

for i in range(1, x+1):
  sum = sum+i

print('Sum is :', sum)

Enter a number :10
Sum is : 55

In [62]:
# 19 Write a program to display only those numbers from a list that satisfy the following conditions

#     The number must be divisible by five
#     If the number is greater than 150, then skip it and move to the next number
#     If the number is greater than 500, then stop the loop

num = [12, 75, 150, 180, 145, 525, 50]
n = []
m =[]

for i in range(len(num)):
  if num[i] % 5==0:
    n.append(num[i])

for i in range(len(num)):
    if n[i] > 150 and n[i] <= 500:
      continue

    elif n[i] > 500:
      break

    else:
      m.append(n[i])

print('Numbers : ', m)

Numbers :  [75, 150, 145]

In [64]:
# 20 Write a program to count the total number of digits in a number using a while loop.

num = int(input('Enter number :'))
count = 0

while num !=0:
   num = num //10
   count=count+1

print("Total digit :", count)

Enter number :78987
Total digit : 5

In [70]:
# 21 Write a program to use for loop to print the following reverse number pattern

# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1

for i in range(1, 6):
  for j in range(6-i, 0, -1):
    print(j, end=' ')

  print('\r')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [72]:
# 22 Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [75]:
# Exercise 23: Display numbers from -10 to -1 using for loop

for x in range(-10, 0):
  print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [80]:
# Exercise 24: Use else block to display a message “Done” after successful execution of for loop

for i in range(3):
  print(i)

else:
  print('DOne')

0
1
2
DOne

In [89]:
# Exercise 25: Write a program to display all prime numbers within a range.

for m in range(2, 100):
  for n in range(2, m):
    if m%n ==0:
      break;

  else:
    print(m)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [91]:
# 26 Find the factorial of a given number

num = int(input('Enter a number : '))
i=1
fact =1
while i <=num:
  fact = fact * i
  i=i+1

print('Factorial :', fact)

Enter a number : 5
Factorial : 120