<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/Documents%20%26%20Notes/LambdaFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = lambda a: a+5
print(x(2))

7

In [ ]:
x = lambda a,b: a*b+10
print(x(2,2))

14

In [ ]:
max = lambda a,b: a if a>b else b
print(max(2,5))

5

In [ ]:
min = lambda a, b: f'{a} is greater than {b}' if a >b else \
                  (f'{b} is greater than {a}' if b >a else \
                  (f'{a} and {b} are equal !!'))

print(min(5,5))
print(min(6,5))
print(min(2,3))

5 and 5 are equal !!
6 is greater than 5
3 is greater than 2

In [ ]:
marks = lambda a: f'Percentage : {a}, Pass with first class distinction' if a >=78 else \
                 (f'Percentage : {a}, Pass with first class' if a >=60 else \
                 (f'Percentage : {a}, Pass with second class' if a >=40 else \
                 (f'Percentage : {a}, pass with third class' if a >=33 else \
                 (f'Better Luck Next Time !!') )))
marks(65)

'Percentage : 65, Pass with first class'

In [1]:
#convert string to upper
name = 'Bashant'
upper = lambda x: x.upper()
print(upper(name))

BASHANT

In [4]:
case = [lambda arg=x: arg *10 for x in range(1,10)]
for item in case:
  print(item())

10
20
30
40
50
60
70
80
90

In [7]:
# Filter out all odd numbers using filter() and lambda function
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final = list(filter(lambda x: (x%2 !=0), li))
print(final)

[5, 7, 97, 77, 23, 73, 61]

In [11]:
# Filter all people having age more than 18, using lambda and filter() function
# Filter all people having age more than 18

ages = [13, 90, 17, 59, 21, 60, 5]
fage = list(filter(lambda x: x>18, li))
print(fage)

[22, 97, 54, 62, 77, 23, 73, 61]

In [19]:
# Multiply all elements of a list by 2 using lambda and map() function
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
fli = list(map(lambda x: x*2, li))
print(fli)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [21]:
# Transform all elements of a list to upper case using lambda and map() function
animals = ['dog', 'cat', 'parrot', 'rabbit']
fupper = list(map(lambda x: x.upper(), animals))
print(fupper)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [29]:
# 1. Write a python program to generate a function to double a specified number.

cald=lambda x: x*2
print(f'The double of number 27.2 is :',cald(27.2))

The double of number 27.2 is : 54.4

In [33]:
small= lambda a, b:f'{a} is greater than {b}' if a>b else \
                  (f'{b} is greater than {a}' if b>a else\
                  (f'{a} and {b} are equal'))

print(small(5, 6))

6 is greater than 5