<a href="https://colab.research.google.com/github/bashant21/DataScienceBootcamp/blob/main/%20DataScienceBootcamp%20%20/Assignments/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Question 1) Remove all repeated elements from the list Given below using for loop.

a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
b= []
for i in a:
  if a.count(i)==1:
    b.append(i)

print(b)

[3, 4, 5, 11, 6, 8]

In [24]:
#Question 2) Print all prime numbers below 100
l1 = []
for i in range(2, 101):
  for j in range(2, i):
    if i%j==0:
      break
  else:
    l1.append(i)

print('Prime Numbers below 100 are :' ,l1)

Prime Numbers below 100 are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [25]:
#Question 3) print list in reverse order using for loop
a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
a.reverse()
print(a)

[8, 1, 6, 2, 1, 11, 5, 4, 3, 2, 1]

In [26]:
#Question 4)  print multiplication table of 13 using for loop
for i in range(1,11):
  print('13', ' ', '*',  i, '=', 13*i)

13   * 1 = 13
13   * 2 = 26
13   * 3 = 39
13   * 4 = 52
13   * 5 = 65
13   * 6 = 78
13   * 7 = 91
13   * 8 = 104
13   * 9 = 117
13   * 10 = 130